NEXTAUTH_SECRET=
NEXTAUTH_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER=
DATABASE_URL=
# Connection string for email
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@example.com
# configuration object
EMAIL_SERVER_USER=username
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_FROM=noreply@example.com
# Google provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Github provider
GITHUB_ID=
GITHUB_SECRET=
